POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecurepass
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432

TEST_POSTGRES_DB=pytest_db
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=mysecurepass
TEST_POSTGRES_HOST=0.0.0.0
TEST_POSTGRES_PORT=5433
